**Create pandas series with different data types in different ways**

In [1]:
import pandas as pd
import numpy as np

In [2]:
List = [1,2,3,4,5,6,7,8]
List1 = pd.Series(List)
List1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [14]:
ar = ["Raju","Gani","Nambi"]
ar1 = pd.Series(ar,index = list(range(1,4)))
ar1

1     Raju
2     Gani
3    Nambi
dtype: object

In [10]:
arr = {"Raju":50,"Gani":80,"Nambi":75}
arr = pd.Series(arr, dtype = 'float64')
arr

Raju     50.0
Gani     80.0
Nambi    75.0
dtype: float64

**Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100**

In [18]:
series = [10,30,40,1,3,6,14,18,23]
n = len(series)
ser = pd.Series(series, index = list(range(100,100+n)))
ser

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [19]:
ser.info()

<class 'pandas.core.series.Series'>
Int64Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [20]:
ser.head(3)

100    10
101    30
102    40
dtype: int64

In [21]:
ser.head(3)[102]

40

In [22]:
ser.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [23]:
ser.memory_usage()

144

In [24]:
ser.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

**create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.**

In [25]:
salaries = np.random.randint(30000,90000,30)
salaries

array([72665, 82038, 49373, 57502, 51968, 44316, 54003, 56258, 36753,
       54238, 68039, 32078, 88066, 65430, 38743, 64990, 61102, 65809,
       71599, 52376, 36835, 81302, 46775, 50435, 76085, 80379, 65390,
       41778, 38099, 55051])

In [26]:
sal = pd.Series(salaries, index = list(range(1,31)))
sal

1     72665
2     82038
3     49373
4     57502
5     51968
6     44316
7     54003
8     56258
9     36753
10    54238
11    68039
12    32078
13    88066
14    65430
15    38743
16    64990
17    61102
18    65809
19    71599
20    52376
21    36835
22    81302
23    46775
24    50435
25    76085
26    80379
27    65390
28    41778
29    38099
30    55051
dtype: int32

In [27]:
sal.mean()      ## Average salary

57982.5

In [28]:
sal.median()    ## Center most salary

55654.5

In [29]:
sal.mode()    ## No common salary, every person has different salary

0     32078
1     36753
2     36835
3     38099
4     38743
5     41778
6     44316
7     46775
8     49373
9     50435
10    51968
11    52376
12    54003
13    54238
14    55051
15    56258
16    57502
17    61102
18    64990
19    65390
20    65430
21    65809
22    68039
23    71599
24    72665
25    76085
26    80379
27    81302
28    82038
29    88066
dtype: int32

In [30]:
sal.var()

232383231.8448276

In [31]:
sal.std()

15244.12122245253

In [32]:
sal.min()     ## Lowest salary

32078

In [33]:
sal.max()  ## Highest salary

88066

In [34]:
sal.quantile(0.25)      ## 25% of the salaries

47424.5

In [35]:
sal.quantile(0.75)    ## 75% of the salaries

67481.5

In [36]:
sal.describe()       ## descriptive statistics in single attribute

count       30.000000
mean     57982.500000
std      15244.121222
min      32078.000000
25%      47424.500000
50%      55654.500000
75%      67481.500000
max      88066.000000
dtype: float64

**What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.**

In [47]:
Lis = ["Raju","Gani","Nambi","Chandu","Ramesh"]

In [48]:
Lis1 = np.array(Lis, ndmin = 3)
Lis1

array([[['Raju', 'Gani', 'Nambi', 'Chandu', 'Ramesh']]], dtype='<U6')

In [50]:
Lis2 = pd.Series(Lis)
Lis2

0      Raju
1      Gani
2     Nambi
3    Chandu
4    Ramesh
dtype: object

In [44]:
Lis1.ndim

3

In [45]:
Lis2.ndim

1

In [ ]:
## Pandas Has index numbers, Numpy doesnt have Index numbers.
## Pandas Has data type Object because it is heterogeneous, Numpy is homogeneous hence it considered Text as U6(6 characters)
## Pandas Series is 1 Dimensional, Numpy is 'n' dimensional

**create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.**

In [51]:
ran = list(range(100,150))
pan = pd.Series(ran)
pan

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [52]:
pan[41]    ## Indexing

141

In [53]:
pan[10:40:5]   ## Slicing

10    110
15    115
20    120
25    125
30    130
35    135
dtype: int64