In [1]:
import pandas as pd
import numpy as np

In [2]:
dd = pd.read_excel(r"C:\Users\hi\Downloads\shopping.xlsx")
dd.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
dd.isna().sum()

Customer ID               30
Age                        2
Gender                     5
Item Purchased             4
Category                   4
Purchase Amount (USD)      0
Location                   2
Size                       0
Color                      4
Season                     3
Review Rating              2
Subscription Status        2
Shipping Type              0
Discount Applied           7
Promo Code Used            7
Previous Purchases         0
Payment Method             4
Frequency of Purchases     3
dtype: int64

#### Treating missing value

In [4]:
dd["Age"].fillna(dd["Age"].mean(), inplace = True)

In [5]:
dd["Gender"].fillna(dd["Gender"].mode()[0], inplace = True)

In [6]:
dd["Item Purchased"].fillna(dd["Item Purchased"].mode()[0], inplace = True)

In [7]:
dd["Category"].fillna(dd["Category"].mode()[0], inplace = True)

In [8]:
dd["Location"].fillna(dd["Location"].mode()[0], inplace = True)

In [9]:
dd["Color"].fillna(dd["Color"].mode()[0], inplace = True)

In [10]:
dd["Season"].fillna(dd["Season"].mode()[0], inplace = True)

In [11]:
dd["Review Rating"].fillna(dd["Review Rating"].mean(), inplace = True)

In [12]:
dd["Subscription Status"].fillna(dd["Subscription Status"].mode()[0], inplace = True)

In [13]:
dd["Discount Applied"].fillna(dd["Discount Applied"].mode()[0], inplace = True)

In [14]:
dd["Promo Code Used"].fillna(dd["Promo Code Used"].mode()[0], inplace = True)

In [15]:
dd["Payment Method"].fillna(dd["Payment Method"].mode()[0], inplace = True)

In [16]:
dd["Frequency of Purchases"].fillna(dd["Frequency of Purchases"].mode()[0], inplace = True)

In [17]:
dd.drop("Customer ID", axis = 1, inplace = True)

In [18]:
dd.isna().sum()

Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

#### Treating outliers

In [19]:
dd["Age"] = np.where(((dd["Age"]<0) | (dd["Age"]>100)), dd["Age"].mean(), dd["Age"])

In [20]:
dd["Review Rating"] = np.where(((dd["Review Rating"]<0) | (dd["Review Rating"]>5)), dd["Review Rating"].mean(), dd["Review Rating"])

In [21]:
dd["Age"]

0       55.000000
1       19.000000
2       50.000000
3       21.000000
4       44.293657
          ...
2677    70.000000
2678    24.000000
2679    67.000000
2680    24.000000
2681    62.000000
Name: Age, Length: 2682, dtype: float64

In [22]:
dd["Review Rating"]

0       3.100000
1       3.844851
2       3.100000
3       3.500000
4       2.700000
          ...
2677    3.200000
2678    4.000000
2679    3.000000
2680    4.200000
2681    2.900000
Name: Review Rating, Length: 2682, dtype: float64

#### Type casting

In [23]:
dd["Age"] = dd["Age"].astype('int16')

In [24]:
dd["Review Rating"] = dd["Review Rating"].astype('float16')

In [25]:
dd["Review Rating"], dd["Age"]

(0       3.099609
 1       3.845703
 2       3.099609
 3       3.500000
 4       2.699219
           ...
 2677    3.199219
 2678    4.000000
 2679    3.000000
 2680    4.199219
 2681    2.900391
 Name: Review Rating, Length: 2682, dtype: float16,
 0       55
 1       19
 2       50
 3       21
 4       44
         ..
 2677    70
 2678    24
 2679    67
 2680    24
 2681    62
 Name: Age, Length: 2682, dtype: int16)

#### Treating duplicates

In [26]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2682 non-null   int16
 1   Gender                  2682 non-null   object
 2   Item Purchased          2682 non-null   object
 3   Category                2682 non-null   object
 4   Purchase Amount (USD)   2682 non-null   int64
 5   Location                2682 non-null   object
 6   Size                    2682 non-null   object
 7   Color                   2682 non-null   object
 8   Season                  2682 non-null   object
 9   Review Rating           2682 non-null   float16
 10  Subscription Status     2682 non-null   object
 11  Shipping Type           2682 non-null   object
 12  Discount Applied        2682 non-null   object
 13  Promo Code Used         2682 non-null   object
 14  Previous Purchases      2682 non-null   int64
 15  Payment Method          2682 non-null   object
 16  Frequency of Purchases  2682 non-null   object
dtypes: float16(1), int16(1), int64(2), object(13)
memory usage: 324.9+ KB

In [29]:
dd.duplicated().sum()

30

In [30]:
dd.drop_duplicates(inplace = True)

In [31]:
dd.duplicated().sum()

0

In [32]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2652 entries, 0 to 2667
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2652 non-null   int16
 1   Gender                  2652 non-null   object
 2   Item Purchased          2652 non-null   object
 3   Category                2652 non-null   object
 4   Purchase Amount (USD)   2652 non-null   int64
 5   Location                2652 non-null   object
 6   Size                    2652 non-null   object
 7   Color                   2652 non-null   object
 8   Season                  2652 non-null   object
 9   Review Rating           2652 non-null   float16
 10  Subscription Status     2652 non-null   object
 11  Shipping Type           2652 non-null   object
 12  Discount Applied        2652 non-null   object
 13  Promo Code Used         2652 non-null   object
 14  Previous Purchases      2652 non-null   int64
 15  Payment Method          2652 non-null   object
 16  Frequency of Purchases  2652 non-null   object
dtypes: float16(1), int16(1), int64(2), object(13)
memory usage: 341.9+ KB

#### Variance

1) Numerical data

In [33]:
dd["Age"].var()

234.79773988927028

In [34]:
dd["Review Rating"].var()

0.5083

In [35]:
dd["Purchase Amount (USD)"].var()

566.9149471470685

In [36]:
dd["Previous Purchases"].var()

206.59952830913346

2) Categorical Data

In [40]:
dd["Item Purchased"].nunique()

25

In [39]:
dd["Gender"].nunique()

1

In [41]:
dd["Category"].nunique()

4

In [42]:
dd["Location"].nunique()

50

In [43]:
dd["Size"].nunique()

4

In [44]:
dd["Color"].nunique()

25

In [49]:
dd["Season"].nunique()

4

In [50]:
dd["Subscription Status"].nunique()

2

In [51]:
dd["Shipping Type"].nunique()

6

In [52]:
dd["Discount Applied"].nunique()

2

In [53]:
dd["Promo Code Used"].nunique()

2

In [54]:
dd["Payment Method"].nunique()

6

In [55]:
dd["Frequency of Purchases"].nunique()

7

# Dummy Variables

#### One hot encoding

In [57]:
pd.get_dummies(dd["Category"], drop_first = True)

      Clothing  Footwear  Outerwear
0            1         0          0
1            1         0          0
2            1         0          0
3            0         1          0
4            1         0          0
...        ...       ...        ...
2663         0         1          0
2664         1         0          0
2665         0         0          0
2666         1         0          0
2667         0         1          0

[2652 rows x 3 columns]

In [58]:
pd.get_dummies(dd["Discount Applied"])

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

#### Label encoding

In [59]:
def size(n):
    if n == 'XL':
        return 4
    elif n == 'L':
        return 3
    elif n == 'M':
        return 2
    else:
        return 1

In [61]:
dd["Size"].apply(size),dd["Size"]

(0       3
 1       3
 2       1
 3       2
 4       2
        ..
 2663    2
 2664    2
 2665    2
 2666    3
 2667    2
 Name: Size, Length: 2652, dtype: int64,
 0       L
 1       L
 2       S
 3       M
 4       M
        ..
 2663    M
 2664    M
 2665    M
 2666    L
 2667    M
 Name: Size, Length: 2652, dtype: object)

## Scaling

In [64]:
dd["Age"].mean(),dd["Age"].median()

(44.093514328808446, 44.0)

In [65]:
## Above mean and median are close hence normalization

In [66]:
def normal(x):
    n = (x - min(dd["Age"]))/(max(dd["Age"]-min(dd["Age"])))
    return n

In [67]:
dd["Age"] = dd["Age"].apply(normal)
dd["Age"]

0       0.711538
1       0.019231
2       0.615385
3       0.057692
4       0.500000
          ...
2663    0.807692
2664    0.634615
2665    0.096154
2666    0.038462
2667    0.634615
Name: Age, Length: 2652, dtype: float64