In [1]:
import pandas as pd
import numpy as np

In [2]:
dd = pd.read_excel(r"C:\Users\hi\Desktop\Innomatics\Sample Docs for practice\Clean.xlsx")

In [4]:
dd.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa

In [8]:
dd.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

**Replacing Missing values**

In [9]:
dd["SepalLengthCm"].fillna(dd["SepalLengthCm"].median(), inplace = True)

In [10]:
dd['SepalWidthCm'].fillna(dd["SepalWidthCm"].median(), inplace = True)

dd['PetalLengthCm'].fillna(dd['PetalLengthCm'].median(), inplace = True)

In [13]:
dd['Species'].fillna(dd['Species'].mode()[0], inplace = True)

In [14]:
dd.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

**Outliers Treatment**

In [15]:
sl = (dd["SepalLengthCm"]<0.5) | (dd["SepalLengthCm"]>8)
pl = (dd['PetalLengthCm']< 0.5) | (dd['PetalLengthCm']> 7)
sw = (dd['SepalWidthCm']<0.5 ) | (dd['SepalWidthCm']> 5)
pw = (dd["PetalWidthCm"]< 0) | (dd["PetalWidthCm"]> 2)

In [16]:
dd["SepalLengthCm"] = np.where(sl, dd["SepalLengthCm"].median(),dd["SepalLengthCm"])
dd['PetalLengthCm'] = np.where(pl, dd['PetalLengthCm'].median(),dd['PetalLengthCm'])
dd['SepalWidthCm'] = np.where(sw, dd['SepalWidthCm'].median(),dd['SepalWidthCm'])
dd['PetalWidthCm'] = np.where(pw, dd['PetalWidthCm'].median(),dd['PetalWidthCm'])

**Duplicates**

In [26]:
dd.drop('Unnamed: 0',axis = 1, inplace = True)
dd.drop("Id",axis = 1,inplace = True)

In [29]:
sum(dd.duplicated())

18

In [30]:
dd.drop_duplicates(inplace = True)

In [31]:
sum(dd.duplicated())

0

**Type Casting**

In [32]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    float64
 4   Species        142 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

In [36]:
dd["SepalLengthCm"] = dd["SepalLengthCm"].astype('float16')

In [38]:
dd["SepalWidthCm"] = dd["SepalWidthCm"].astype('float16')
dd["PetalLengthCm"] = dd["PetalLengthCm"].astype('float16')
dd["PetalWidthCm"] = dd["PetalWidthCm"].astype('float16')

In [41]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float16
 1   SepalWidthCm   142 non-null    float16
 2   PetalLengthCm  142 non-null    float16
 3   PetalWidthCm   142 non-null    float16
 4   Species        142 non-null    object
dtypes: float16(4), object(1)
memory usage: 3.3+ KB