**What are the column names in the Iris dataset?**

In [1]:
import pandas as pd
import numpy as np

In [6]:
iris = pd.read_excel(r"C:\Users\hi\Downloads\Iris_clean.xlsx")
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             165 non-null    int64
 1   SepalLengthCm  161 non-null    float64
 2   SepalWidthCm   159 non-null    float64
 3   PetalLengthCm  159 non-null    float64
 4   PetalWidthCm   165 non-null    float64
 5   Species        160 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.9+ KB

In [8]:
## column names :  Id , SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species

**How many rows and columns are there in the dataset?**

In [9]:
## There are 165 rows and 6 columns

**Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?**

In [10]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.510559      4.713208       4.022642      2.810909
std     47.775517      11.162995     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

In [13]:
iris.median()

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\1297003277.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.median()

Id               83.0
SepalLengthCm     5.8
SepalWidthCm      3.0
PetalLengthCm     4.5
PetalWidthCm      1.5
dtype: float64

In [14]:
iris.var()

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\2384711547.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.var()

Id               2282.500000
SepalLengthCm     124.612450
SepalWidthCm      181.413938
PetalLengthCm       4.212775
PetalWidthCm      146.354880
dtype: float64

**What is the average sepal length?**

In [19]:
SepalLengthCm= iris.iloc[:,1]

In [21]:
SepalLengthCm.mean()

7.510559006211181

**what is the largest petal length, and what is its value?**

In [25]:
PetalLengthCm = iris.iloc[:,3:]

In [28]:
PetalLengthCm.drop('PetalWidthCm',axis = 1,inplace=True)

In [90]:
PetalLengthCm.max()

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\209298772.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  PetalLengthCm.max()

PetalLengthCm    13.8
dtype: float64

In [76]:
PetalLengthCm.iloc[80,:2]

PetalLengthCm               13.8
Species          Iris-versicolor
Name: 80, dtype: object

In [94]:
## Largest PetalLength is Iris-versicolor and its value is 13.8

**What is the mean and standard deviation of petal width for the Setosa species?**

In [121]:
df = iris.head(50)

In [122]:
df.drop([5,43],axis=0,inplace = True)

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\2421536054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop([5,43],axis=0,inplace = True)

In [123]:
df.drop(['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm'],axis=1,inplace = True)

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\2583508786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm'],axis=1,inplace = True)

In [124]:
df.mean()

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

PetalWidthCm    2.941667
dtype: float64

In [125]:
df.std()

C:\Users\hi\AppData\Local\Temp\ipykernel_12880\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

PetalWidthCm    15.937148
dtype: float64

In [126]:
## Setosa species mean is 2.941667 and Standard Dev is 15.937148

**Check for missing values in the dataset**

In [136]:
iris.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

**Extract the Species column using loc and iloc method**

In [137]:
Species = iris.iloc[:,5]

In [138]:
Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [139]:
Species1 = iris.loc[:,"Species"]

In [140]:
Species1

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

**Drop sepal Width column**

In [141]:
iris.drop('SepalWidthCm',axis = 1)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

**Get petalwidth 10th value using at and iat**

In [143]:
iris.at[9,"PetalWidthCm"]

0.1

In [145]:
iris.iat[9,4]

0.1