In [1]:
import pandas as pd
import numpy as np

**Find all Statistic Measures**

In [2]:
dd = pd.read_csv(r"C:\Users\hi\Desktop\Innomatics\Sample Docs for practice\studens_data.csv")
dd

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [4]:
dd.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

In [5]:
dd.median()

C:\Users\hi\AppData\Local\Temp\ipykernel_6220\554249589.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd.median()

ID                     1193.00
GPA                      84.11
Algebra                  76.00
Calculus1                73.00
Calculus2                83.00
Statistics               87.00
Probability              85.00
Measure                  81.00
Functional_analysis      76.00
dtype: float64

In [6]:
dd.var()

C:\Users\hi\AppData\Local\Temp\ipykernel_6220\2687161090.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd.var()

ID                     927.500000
GPA                     36.641067
Algebra                137.419780
Calculus1              148.767766
Calculus2              224.919780
Statistics             105.462821
Probability            110.551832
Measure                106.010073
Functional_analysis    169.086447
dtype: float64

**Which subject has highest average ?**

In [9]:
dd.mean()      ## Statistics has the highest average

C:\Users\hi\AppData\Local\Temp\ipykernel_6220\2590964925.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd.mean()      ## Statistics has the highest average

ID                     1193.000000
GPA                      82.957048
Algebra                  76.057143
Calculus1                71.961905
Calculus2                78.942857
Statistics               85.133333
Probability              83.876190
Measure                  80.761905
Functional_analysis      75.323810
dtype: float64

**What are the Student IDs who got more tham 80% GPA?**

In [16]:
dd[dd["GPA"]>80]["ID"]      ## 76 out of 105 have more than 80% GPA

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

**How many female students are there in the class?**

In [22]:
dd["gender"].value_counts()[0]       ## There are 68 female in the class

68

**What is the ratio of male students and female students?**

In [44]:
print(f"{dd['gender'].value_counts()[1]%105} : {dd['gender'].value_counts()[0]%105}")

37 : 68

**What are the marks of male students in statistics ?**

In [45]:
dd[dd["gender"]=="male"]["Statistics"]

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

**What is the ID of the class topper ?**

In [82]:
dd[(dd["GPA"]== dd["GPA"].max())]["ID"]       ## Class topper ID is 1245

104    1245
Name: ID, dtype: int64

**What is the gender of probabilty topper?**

In [88]:
dd[(dd["Probability"]== dd["Probability"].max())]["gender"]      ## 2 Female and 2 Male got high marks in probability

41     female
72       male
87     female
104      male
Name: gender, dtype: object

**Create Pivot Table for gender and class?**

In [94]:
pd.crosstab(dd["gender"],dd["class"])

class    A   B
gender
female  48  20
male    28   9

**Which subject got least average marks.?**

In [95]:
dd.mean()          ## Calculus1 has got least average

C:\Users\hi\AppData\Local\Temp\ipykernel_6220\3036168029.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dd.mean()

ID                     1193.000000
GPA                      82.957048
Algebra                  76.057143
Calculus1                71.961905
Calculus2                78.942857
Statistics               85.133333
Probability              83.876190
Measure                  80.761905
Functional_analysis      75.323810
dtype: float64

**How many male and female students are there ?**

In [96]:
dd["gender"].value_counts()

female    68
male      37
Name: gender, dtype: int64

**How many female student are there from class A?**

In [99]:
((dd["gender"] == 'female') & (dd["class"] == "A")).value_counts()   ## There are 48 from class A

False    57
True     48
dtype: int64

**Which class has more strength ?**

In [102]:
dd["class"].value_counts()         ## Class A has more strength

A    76
B    29
Name: class, dtype: int64

**Sort the data as per algebra ?**

In [105]:
dd.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

**How many students got exactly 64 marks from functional analysis?**

In [108]:
(dd["Functional_analysis"]==64).value_counts()      ## 8 students got 64 marks in Functional_analysis.

False    97
True      8
Name: Functional_analysis, dtype: int64